<div id="top-nav">
  <a mat-button routerLink="/">Home</a>
  <a mat-button class="top-nav-item" routerLink="/monitor">Monitor</a>
  <a mat-button class="top-nav-item" routerLink="/about">About</a>
  <span class="toolbar-filler"></span>
  <a mat-button class="top-nav-item" routerLink="/login"><i class="fas fa-user"></i> Login / Sign up</a>
  <a mat-button class="nav-toggle" (click)="sidenavToggle()">
    <i class="fas fa-bars" [ngStyle]="{'display': display_menu}"></i>
    <i class="fas fa-times" [ngStyle]="{'display': display_close}"></i>
  </a> 
</div>
<div id="hidden-block" [ngStyle]="{'display': display_hidden_block}">
    <a mat-button routerLink="/monitor">Monitor</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/login"><i class="fas fa-user"></i> Login / Sign up</a>

</div>
<router-outlet></router-outlet>