<div class="detail-container">
  <div class="panel" id="loadavg">
    <svg id="loadavg-svg" width="340" height="200"  style="border: 1px solid #777;"></svg>
  </div>
  <div class="panel" id="CPU">
    <svg id="CPU-svg" width="340" height="200"  style="border: 1px solid #777;"></svg>
  </div>
  <div class="panel" id="memory">
    <svg id="memory-svg" width="340" height="200"  style="border: 1px solid #777;"></svg>
  </div>
  <div class="panel" id="networkIO">
    <svg id="networkIO-svg" width="340" height="200"  style="border: 1px solid #777;"></svg>
  </div>
  <div class="panel" id="diskIO">
    <svg id="diskIO-svg" width="340" height="200"  style="border: 1px solid #777;"></svg>
  </div>
  <div class="panel empty">

  </div>
  <div class="panel empty">

  </div>
  <div class="panel empty">

  </div>
</div>
